@import "variable";

@media (min--moz-device-pixel-ratio: 1.5),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {

}

//
.notify-over-layer {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background: rgb(51, 51, 51);
  pointer-events:auto;
  color:#ffffff;
  padding: 10px;
  font-weight: bold;
}

.notification-wrap {
  @include flexbox;
  position: absolute;
  top:30%;
  z-index: 110;
  width:100%;
  pointer-events:auto;
  padding: 20px;
  .notification{
    @include flex(0,0,auto);
    background-color: #ffffff;
    min-width: 75%;
    padding: 5px;
    margin: 0 auto;
    border-radius:5px;
  }
  .button {
    font-size: 13px;
  }
}
